<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dobrilovo Village</title>
    <link rel="stylesheet" href="./css/style.css"></link>
    <script src="./scripts/contacts.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://api-maps.yandex.ru/v3/?apikey=04fcaae6-825a-469a-86fe-eabc5755edd4&lang=ru_RU"></script>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="menu">
                <div class="left-part">
                    <div class="menu-part">Галерея</div>
                    <div class="menu-part">Забронировать</div>
                    <div class="menu-part">О нас</div>
                </div>
                <div class="right-part">
                    <div class="menu-part lang">eng</div>
                </div>
            </div>
            <div class="main-part">
                <div id="map" style="width: 75vh; height: 75vh"></div>
            </div>
            <div class="footer">
                <div class="link"></div>
                <div class="link"></div>
                <div class="link"></div>
            </div>
        </div>
        
    </div>

</body>

</html>