<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dobrilovo Village</title>
    <link rel="stylesheet" href="./css/style.css"></link>
    <script src="./scripts/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="menu">
                <div class="left-part">
                    <div class="menu-part"><a href="galery.html" class="about-btn">Галерея</a></div>
                    <div class="menu-part">Забронировать</div>
                    <div class="menu-part"><a href="about.html" class="about-btn">О нас</a></div>
                </div>
                <div class="right-part">
                    <div class="menu-part lang">eng</div>
                </div>
            </div>
            <div class="main-part" style="justify-content: space-between;">
                <div class="book_info">
                    <div class="header">Информация о гостях</div>
                    <div class="dates_info">
                        <div class="arrive_depart_info">
                            <div class="info-text">Дата заезда:</div>
                            <input type="date" class="dates-check" readonly id="fixed_arr_date">
                        </div>
                        <div class="arrive_depart_info">
                            <div class="info-text">Дата выезда:</div>
                            <input type="date" class="dates-check" readonly id="fixed_dep_date">
                        </div>
                        <div class="arrive_depart_info">
                            <div class="info-text">Кол-во гостей:</div>
                            <input type="number" class="persons" readonly id="fixed_pers_num">
                        </div>
                    </div>
                    <div class="guests_info">
                        <div class="guest_num">Гость 1</div>
                        <div class="guest">
                            <div class="guest_info">
                                <div class="info-text">Фамилия:</div>
                                <input type="text" class="persons info">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Имя:</div>
                                <input type="text" class="persons info">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Возраст:</div>
                                <input type="number" class="persons">
                            </div>
                        </div>
                        <div class="guest_num">Гость 2</div>
                        <div class="guest">
                            <div class="guest_info">
                                <div class="info-text">Фамилия:</div>
                                <input type="text" class="persons info">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Имя:</div>
                                <input type="text" class="persons info">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Возраст:</div>
                                <input type="number" class="persons">
                            </div>
                        </div>
                        <div class="guest_num">Гость 3</div>
                        <div class="guest">
                            <div class="guest_info">
                                <div class="info-text">Фамилия:</div>
                                <input type="text" class="persons">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Имя:</div>
                                <input type="text" class="persons">
                            </div>
                            <div class="guest_info">
                                <div class="info-text">Возраст:</div>
                                <input type="number" class="persons">
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="contacts">
                    <div class="link"><img src="./images/inst.png" alt="inst" class="link_img"></div>
                    <div class="link"><img src="./images/tele.png" alt="tele" class="link_img"></div>
                    <div class="link"><img src="./images/yandex.png" alt="yandex" class="link_img"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            ИП Гоптарь Евгений Андреевич, 2024
        </div>
    </div>
</body>

</html>