<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dobrilovo Village</title>
    <link rel="stylesheet" href="./css/style.css"></link>
    <script src="./scripts/script.js" defer></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="container">
            <div class="menu">
                <div class="left-part">
                    <div class="menu-part">Галерея</div>
                    <div class="menu-part">Забронировать</div>
                    <div class="menu-part"><a href="about.html" class="about-btn">О нас</a></div>
                </div>
                <div class="right-part">
                    <div class="menu-part lang">eng</div>
                </div>
            </div>
            <div class="galery-container">
                <div class="masonry-layout">
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="400px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="200px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="100px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="400px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                    <div class="masonry-layout__panel">
                        <div class="masonry-layout__panel-content">
                            <img src="./images/galery/0.png" width="300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            ИП Гоптарь Евгений Андреевич, 2024
        </div>
    </div>


</body>

</html>